<!DOCTYPE html>
<html translate="no">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Smiles VIAGENS</title>

  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>
  <div class="container">
    <div class="banner__container">
      <a href="../index.html" class="logo__container">
        <img src="../assets/images/logo.png" alt="">
      </a>
    </div>

    <div class="action__container action__container--dark centralize__elements">
      <main>
        <form>
          <div class="page__title__container page__title__container--ligth responsive__title" style="width: 390px">
            <h3>Crie uma senha segura</h3>
            <p>Sua senha deve ter pelo menos 4 caracteres, incluindo pelo menos 1 caracter especial.</p>
          </div>
  
          <div class="input__container input__container--light">
            <label  for="">Criar senha</label>
            <input class="input__dark" type="password" placeholder="* * * * * *">

            <div class="error__message" style="display: none;">
              <img src="../assets/images/error-icon.svg" alt="">
              <p>Insira uma senha válida</p>
            </div>
          </div>

          <div class="input__container input__container--light">
            <label  for="">Repetir senha</label>
            <input class="input__dark" type="password" placeholder="* * * * * *">

            <div class="error__message" style="display: none;">
              <img src="../assets/images/error-icon.svg" alt="">
              <p>Insira uma senha válida</p>
            </div>
          </div>

          <div class="button__container">
            <a class="btn btn-dark" href="#">Avançar</a>
            <a class="btn btn-dark btn-transparent" href="./access.html">Voltar</a>
          </div>

        </form>

       
      </main>
    </div>
  </div>

  <script src="../assets/javascript/script.js"></script>  
</body>
</html>