<!DOCTYPE html>
<html translate="no">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Smiles VIAGENS</title>

  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>
  <div class="container">
    <div class="banner__container">
      <a href="../index.html" class="logo__container">
        <img src="../assets/images/logo.png" alt="">
      </a>
    </div>

    <div class="action__container action__container--dark centralize__elements">
      <main>
        <form>
          <div class="page__title__container page__title__container--ligth responsive__title responsive-hd-title" style="width: 390px">
            <h3>O link de recuperação de senha foi enviado</h3>
            <p>
              Pronto! Enviamos o link de recuperação de dados de acesso para o e-mail joao.silva@gmail.com. 
              Verifique sua caixa de entrada e lembre-se de conferir sua caixa de spam.
            </p>
          </div>
  
          <div class="input__container input__container--light">
            <label  for="">E-mail</label>
            <input class="input__dark" type="text" placeholder="Insira seu e-mail">

            <div class="error__message" style="display: none;">
              <img src="../assets/images/error-icon.svg" alt="">
              <p>Insira um e-mail válido</p>
            </div>
          </div>
          <div class="button__container">
            <a class="btn btn-primary " href="./createNewPassword.html">Voltar para o acesso</a>
          </div>

        </form>

       
      </main>
    </div>
  </div>

  <script src="../assets/javascript/script.js"></script>  
</body>
</html>