/*=====================================
Button
====================================*/

button, a {

  &.btn {
    width: 100%;
    padding: rem(25);
    border: none;
  
    outline: none;
  
    font-size: 16px;
    color: var(--neutral-color-3);
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    line-height: 22px;
    align-items: center;
    background-color: var(--neutral-color-0);
  
  
    @include transition();
    // @include box-shadow();
  
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &.btn-dark {
      background-color: var(--neutral-color-4);
      color: var(--neutral-color-2);

      &.btn-transparent {
        background-color: transparent;

        &:hover {
          border: 2px solid var(--neutral-color-2);
        }
      }
    }

    &.btn-primary {
      background-color: var(--secondary-color);
      color: var(--neutral-color-5);
      font-weight:  700;

      &:hover {
        background-color: transparent;
        color: var(--white-color);
        border: 2px solid var(--neutral-color-2);
      }
    }
  }

  &.btn-tab {
    color: white;
    background: transparent;
    outline: none;
    border: none;
    padding: 16px;
    position: relative;
    font-size: var(--font-size-sm);

    &[data-default] {
      font-weight: 700;
    }

    &:hover::after {
      width: 100%;
    }

    &.active::after {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0%;
      background-color: var(--secondary-color);
      transition: .4s;
    }
  }
}

a {
  &.btn-secondary {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--neutral-color-5);
    font-weight: 700;
    font-size: var(--font-size-sm);

    &.btn-light {
      color: var(--white-color);
    }
  }
}